name: Benchmark Workflow

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
    
      - name: Download SurrealDB
        run: curl --proto '=https' --tlsv1.2 -sSf https://install.surrealdb.com | sh -s

      - name: Run SurrealDB root
        run: surreal start --user root --pass root memory --allow-guests &

      - name: Setup dotnet 9.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "9.0.x"

      - name: Execute Remote benchmarks
        run: sudo dotnet run -c Release --project SurrealDb.Net.Benchmarks.Remote --filter '*'

      - name: Download previous benchmark data
        uses: actions/cache@v1
        with:
          path: ./cache
          key: ${{ runner.os }}-benchmark

      - name: Store benchmark result
        uses: rhysd/github-action-benchmark@v1
        with:
          tool: "benchmarkdotnet"
          output-file-path: BenchmarkDotNet.Artifacts/results/Combined.Benchmarks.json
          external-data-json-path: ./cache/benchmark-data.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          comment-on-alert: true
          summary-always: true
