name: AoT compatibility Workflow

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**.md"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup dotnet 10.0
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"

      - name: Publish AOT test app, assert static analysis warning count, and run the app
        shell: pwsh
        run: .\build\test-aot-compatibility.ps1 net10.0
        continue-on-error: true # TODO : The SDK is not yet AoT compatible
